<h1 id="stupid">Calculator</h1>

<div id="inputfield"></div>


<button class ="myButton numButton" value="1" >1</button>
<button class ="myButton numButton" value="2">2</button>
<button class ="myButton numButton" value="3" >3</button>
<button class ="myButton operButton" value="+" >+</button><br>
<button class ="myButton numButton" value="4">4</button>
<button class ="myButton numButton" value="5" >5</button>
<button class ="myButton numButton" value="6">6</button>
<button class ="myButton operButton" value="-">-&nbsp;</button><br>
<button class ="myButton numButton" value="7">7</button>
<button class ="myButton numButton" value="8">8</button>
<button class ="myButton numButton" value="9">9</button>
<button class ="myButton operButton" value="*">*&nbsp</button><br>
<button class ="myButton operButton" value="/">/&nbsp</button>
<button class ="myButton numButton" value="0">0</button>
<button class ="myButton numButton" value=".">.&nbsp</button>
<button class ="myButton operButton" value="√">√</button><br>
<button class ="myButton clsButton" >CLS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
<button class ="myButton operButton" value="^" >^</button>
<button class ="myButton equalsButton" >=</button>
