<h1 id="stupid">Calculator</h1>

<div id="inputfield"></div>


<button class ="myButton" id="number1">1</button>
<button class ="myButton" id="number2">2</button>
<button class ="myButton" id="number3">3</button>
<button class ="myButton" id="symbolPlus">+</button><br>
<button class ="myButton" id="number4">4</button>
<button class ="myButton" id="number5">5</button>
<button class ="myButton" id="number6">6</button>
<button class ="myButton" id="symbolMinus">-&nbsp;</button><br>
<button class ="myButton" id="number7">7</button>
<button class ="myButton" id="number8">8</button>
<button class ="myButton" id="number9">9</button>
<button class ="myButton" id="symbolTimes">*&nbsp</button><br>
<button class ="myButton" id="symbolDivide">/&nbsp</button>
<button class ="myButton" id="number0">0</button>
<button class ="myButton" id="symbolPeriod">.&nbsp</button>
<button class ="myButton" id="symbolSqrt">√</button><br>
<button class ="myButton" id="clsbutton">CLS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
<button class ="myButton" id="symbolPower">^</button>
<button class ="myButton" id="symbolEquals">=</button>
